.landing-page {
  margin-top: 50px;
  padding: 100px 0px;
  width: 100%;
  min-width: 1000px;
  height: 500px;
  background-color: #659DBD;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(https://images.unsplash.com/photo-1503767849114-976b67568b02?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=834896599ce28318d8bc1500ad27112a&auto=format&fit=crop&w=1350&q=80);
  background-size: cover;
}

.content-container {
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title-and-body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#welcome {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 100;
  font-size: 15px;
  font-weight: 100;
  padding-bottom: 2px;
  border-bottom: 1px solid white;
}

#title {
  font-family: 'Roboto Slab', serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
}

#description {
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  letter-spacing: 0.04em;
  padding-top: 30px;
  text-align: center;
  text-shadow: 0px 0px 1px black;
}

.buttons {
  padding: 30px;
}

.md-trigger {
  width: 200px;
  height: 65px;
  border-radius: 40px;
  background-color: #659DBD;
  border: 3px solid white;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  letter-spacing: 0.06em;
  margin: 0px 20px;
}

.md-trigger:hover {
  width: 200px;
  height: 65px;
  border-radius: 40px;
  background-color: white;
  border: 3px solid white;
  color: #659DBD;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  letter-spacing: 0.06em;
  margin: 0px 20px;
  cursor: pointer;
}

.functionality {
  width: 100%;
  min-width: 910px;
  height: 600px;
  background-color: #fbeec1;
}

.technologies {
  width: 100%;
  min-width: 910px;
  height: 600px;
  background-color: #daad86;
  display: flex;
  justify-content: space-around;
}

.technologies img {
  object-fit: contain;
  width: 100%;
  height: 70%;
  /* padding: 80px 50px; */
  /* padding-left: 0px; */
}

.footer {
  width: 100%;
  height: 100px;
  background-color: #8d8741;
  color: white;
  display: flex;
  justify-content: center;
}

.footer img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 20%;
}

.footer div {
  display: flex;
}

.footer div p {
  padding: 20px 70px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 35px;
}

.footer div section {
  display: flex;
  align-items: center;
}

/* Carosel - code from https://codepen.io/AMKohn/details/EKJHf */

.slides {
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    position: absolute;
    transform: scale(0);
    transition: all 1.0s forwards;
}

.slide img {
    width: 80%;
    height: 80%;
    margin: 50px;
}

.slide p {
    /* font-family: 'Open Sans Condensed', sans-serif;
    font-size: 35px;
    text-decoration: underline; */
    width: 50%;
    height: 80%;
    margin: 100px;
}

.nav label {
    width: 150px;
    height: 100%;
    display: none;
    position: absolute;
	  opacity: 0;
    z-index: 9;
    cursor: pointer;
    transition: opacity .2s;
    color: white;
    font-size: 150px;
    text-align: center;
    line-height: 600px;
    font-family: "Varela Round", sans-serif;
    /* background-color: rgba(204, 203, 203, 0.2); */
    text-shadow: 0px 0px 15px rgb(209, 203, 203);
}

.slide:hover + .nav label { opacity: 0.3; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container .slide {
    opacity: 1;
    transform: scale(1);
    transition: all .5s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3 {
	background: rgba(0, 0, 0, 0.8);
}