<div>
  <div class="landing-page">
    <div class='content-container'>
      <div class='title-and-body'>
        <p id='welcome'>
          WELCOME TO
        </p>
        <p id='title'>
          Pantry Pal
        </p>
        <p id='description'>
          Unused food and leftovers are a problem everyone faces. Ever find yourself unsure of what you can make with that half full
          bottle of teriyaki sauce? $165 billion worth of food is wasted each year by Americans. Pantry Pal solves this problem
          by searching a recipe database and determining which recipes are readily available to make. Users can customize
          their list of current ingredients and find new or favorite recipes to make. Sign up and start cooking today!
        </p>
      </div>
      <div class='buttons'>
        <app-signup></app-signup>
        <app-login></app-login>
        <button class="md-trigger" data-modal="modal-1" (click)="openSignupModal()">Sign Up</button>
        <button class="md-trigger" data-modal="modal-1" (click)="openLoginModal()">Login</button>
      </div>
    </div>
  </div>

  <div class='functionality'>
    <ul class="slides">
      <input type="radio" name="radio-btn" id="img-1" checked />
      <li class="slide-container">
        <div class="slide">
          <p>Adding Ingredients</p>
          <img src="https://i.imgur.com/3Q4X5fZ.png" />
        </div>
        <div class="nav">
          <label for="img-3" class="prev">&#x2039;</label>
          <label for="img-2" class="next">&#x203a;</label>
        </div>
      </li>

      <input type="radio" name="radio-btn" id="img-2" />
      <li class="slide-container">
        <div class="slide">
          <p>Selecting Recipes</p>
          <img src="https://i.imgur.com/YUaNqsw.png" />
        </div>
        <div class="nav">
          <label for="img-1" class="prev">&#x2039;</label>
          <label for="img-3" class="next">&#x203a;</label>
        </div>
      </li>

      <input type="radio" name="radio-btn" id="img-3" />
      <li class="slide-container">
        <div class="slide">
          <p>Slide 3</p>
          <img src="https://i.imgur.com/qo7Wejo.png https://i.imgur.com/qo7Wejo.png" />
        </div>
        <div class="nav">
          <label for="img-2" class="prev">&#x2039;</label>
          <label for="img-1" class="next">&#x203a;</label>
        </div>
      </li>

      <li class="nav-dots">
        <label for="img-1" class="nav-dot" id="img-dot-1"></label>
        <label for="img-2" class="nav-dot" id="img-dot-2"></label>
        <label for="img-3" class="nav-dot" id="img-dot-3"></label>
      </li>
    </ul>
  </div>

  <div class='technologies'>
    <p class="p-1">Pantry Pal uses the MEAN Stack to handle requests from the client to the server.</p>
    <img src="https://i.imgur.com/n4fawQ7.png" alt="">
    <p class="p-2"></p>
  </div>

  <div class='footer'>
    <div>
      <section>
        <p>
          Jonathan Abantao
          <a target='_blank' href='https://github.com/swangs/pantry-pal'>
            <img src="https://image.flaticon.com/icons/svg/23/23957.svg" alt="github">
          </a>
          <a target='_blank' href='https://www.linkedin.com/in/jmabantao/'>
            <img src="https://image.freepik.com/free-icon/linkedin-logo-ios-7-interface-symbol_318-33633.jpg" alt="linkedin">
          </a>
        </p>
      </section>
      <section>
        <p>
          Katie Noonan
          <a target='_blank' href='https://github.com/swangs/pantry-pal'>
            <img src="https://image.flaticon.com/icons/svg/23/23957.svg" alt="github">
          </a>
          <a target='_blank' href='https://www.linkedin.com/in/catherine-noonan-601330133/'>
            <img src="https://image.freepik.com/free-icon/linkedin-logo-ios-7-interface-symbol_318-33633.jpg" alt="linkedin">
          </a>
        </p>
      </section>
      <section>
        <p>
          Steven Wang
          <a target='_blank' href='https://github.com/swangs/pantry-pal'>
            <img src="https://image.flaticon.com/icons/svg/23/23957.svg" alt="github">
          </a>
          <a target='_blank' href='https://www.linkedin.com/in/s-wang/'>
            <img src="https://image.freepik.com/free-icon/linkedin-logo-ios-7-interface-symbol_318-33633.jpg" alt="linkedin">
          </a>
        </p>
      </section>
    </div>
  </div>

</div>