<div class="landing-page">
  <div class='title-and-body'>
    <p id='welcome'>
      WELCOME TO
    </p>
    <p id='title'>
      Pantry Pal
    </p>
    <p id='description'>
      This is a description of the app.
    </p>
  </div>
  <div class='buttons'>
    <app-signup></app-signup>
    <app-login></app-login>
    <button class="md-trigger" data-modal="modal-1" (click)="openSignupModal()">Sign Up</button>
    <button class="md-trigger" data-modal="modal-1" (click)="openLoginModal()">Login</button>
  </div>
</div>
