.signup-modal {
	position: fixed;
	color: black;
	top: 40%;
	left: 50%;
	width: 30%;
	height: 30%;
	min-width: 500px;
	min-height: 300px;
	z-index: 2000;
	visibility: hidden;
	backface-visibility: hidden;
	transform: translateX(-50%) translateY(-50%);
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(50,50,50,0.8);
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

.md-perspective,
.md-perspective body {
	height: 100%;
	overflow: hidden;
}

.md-perspective body  {
	background: #222;
	perspective: 600px;
}

.container {
	background: #e74c3c;
	min-height: 100%;
}

.md-effect-1 .md-content {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-1 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.md-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #FFFFFF;
	position: relative;
	border-radius: 15px;
	height: 100%;
	padding: 50px;
	border: 5px solid #659dbd;
}

.md-content p {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 40px;
	color: #659dbd;
	text-align: center;
	width: 100%;
	padding: 20px;
	border-bottom: 1px solid #d3d3d3;
}

.signup-form {
	padding: 20px;
	width: 100%;
	min-width: 400px;
}

.signup-username-total {
	width: 100%;
	display: flex;
	padding-bottom: 20px;
}

#signup-username {
	font-family: 'Roboto Slab', serif;
	width: 22%;
	font-size: 17px;
	padding-top: 5px;
}

#signup-username-input {
	width: 78%;
	height: 25px;
	padding: 0px 5px;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.07em;
	color: black;
}

.signup-password-total {
	width: 100%;
	display: flex;
	padding-bottom: 20px;
}

#signup-password {
	font-family: 'Roboto Slab', serif;
	width: 22%;
	font-size: 17px;
	padding-top: 5px;
}

#signup-password-input {
	width: 78%;
	height: 25px;
	padding: 0px 5px;
}

input[type=submit], input[type=reset] {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 0.07em;
    background-color: #659dbd;
    border: none;
    color: white;
    padding: 10px 32px;
    margin: 4px 2px;
    cursor: pointer;
	width: 100%;
}

.close-button {
	position: absolute;
    top: 20px;
	left: 20px;
	font-size: 25px;
	font-weight: 100;
	opacity: 0.3;
	background: none;
    border: none;
    cursor: pointer;
}

.close-button:hover {
	cursor: pointer;
	opacity: 1.0;
}