.user-page {
  display: flex;
  overflow-y: scroll;
  margin-top: 50px;
}

.ingredients {
  min-width: 300px;
  box-shadow: 2px 0px 10px 0px #909090;
}
.ingredients h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 15px 30px;
  color: #607D8B;
}

.recipes {
  width: calc(100vw - 400px);
}
