.recipe-detail {
  margin-top: 50px;
  display: flex;
  overflow-y: scroll;
}

.recipe-sidebar {
  width: 500px;
  box-shadow: 2px 0px 10px 0px #909090;
}

.recipe-title {
  font-weight: 700;
  font-size: 45px;
  margin: 15px 30px;
  color: #808080;
}

.recipe-img {
  margin: 15px 30px;
  width: 450px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px 1px #808080;
}

.ingredient-item {
  display: flex;
}

.ingredient-img {
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
  margin: 5px 15px 5px 30px;
}

.recipe-main {
  margin: 0px 30px;
}

.directions-title {
  font-weight: 700;
  font-size: 35px;
  margin: 15px 0px;
  color: #808080;
}

p {
  font-weight: 400;
  font-size: 18px;
  color: #607D8B;
  margin: 15px 0px;
}

button {
  cursor: pointer;
}
