<div class="recipe-detail" *ngIf="recipe">
  <div class="recipe-sidebar">
    <h2 class="recipe-title" >{{ recipe.title | uppercase }}</h2>
    <img class="recipe-img" src="{{recipe.image}}" alt="">
    <ul class="ingredients-list">
      <li class="ingredient-item" *ngFor="let ingredient of recipe.extendedIngredients">
        <img class="ingredient-img" src="{{ingredient.image}}" alt="">
        <p>{{ingredient.originalString}}</p>
      </li>
    </ul>
  </div>
  <div class="recipe-main">
    <h3 class="directions-title">Directions</h3>
    <ul *ngFor="let instructions of recipe.analyzedInstructions">
      <li *ngFor="let steps of instructions.steps">
        <p>{{steps.step}}</p>
      </li>
      <a href="{{recipe.sourceUrl}}" target="_blank">More Details</a>
    </ul>
    <button (click)="goBack()">go back</button>
  </div>
  <div class="additional-info">
    <p>Vegetarian: {{recipe.vegetarian}}</p>
    <p>Vegan: {{recipe.vegan}}</p>
    <p>Gluten Free: {{recipe.glutenFree}}</p>
    <p>Dairy Free: {{recipe.dairyFree}}</p>
    <p>Dairy Free: {{recipe.dairyFree}}</p>
  </div>
</div>
