.nav {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100vw;
  box-shadow: 0px 2px 10px 0px #909090;
  z-index: 10;
  position: fixed;
  top: 0;
  background-color: #FFFFFF;
}

.nav-title {
  font-size: 25px;
  font-weight: 700;
  color: #607D8B;
  margin: auto 0px auto 25px;
  cursor: pointer;
}

.nav-button {
  cursor: pointer;
  height: 25px;
  margin: auto 25px auto 0px;
  border-radius: 5px;
}
