.nav {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100vw;
  box-shadow: 0px 2px 25px 0px #90909075;
  z-index: 10;
  position: fixed;
  top: 0;
  background-color: #FFF2DD;
}

.nav-title {
  font-size: 25px;
  font-weight: 700;
  color: #659DBD;
  margin: auto 0px auto 25px;
  cursor: pointer;
}

.nav-buttons {
  margin: auto 25px auto 0px;
}

.nav-button {
  cursor: pointer;
  height: 25px;
  margin-right: 5px;
  border-radius: 5px;
}
