h2 {
  font-weight: 700;
  font-size: 35px;
  margin: 15px 30px;
  color: grey;
}

.recipes-list {
  display: flex;
  flex-wrap: wrap;
}

h3 {
  color: #607D8B;
  font-size: 18px;
  margin: 5px 0px;
}

li {
  width: 350px;
  height: 350px;
  cursor: pointer;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 300px;
  max-height: 300px;
  margin: 20px 0px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px 1px grey;
}
