h2 {
  font-weight: 700;
  font-size: 35px;
  margin: 15px 30px;
  color: #607D8B;
}

.recipes-list {
  display: flex;
  flex-wrap: wrap;
}

.text {
  width: 80%;
}

h3 {
  color: #659DBD;
  font-size: 25px;
  margin: 5px 0px;
}

p {
  color: #659DBD;
  font-size: 18px;
  margin: 5px 0px;
}

li {
  width: 350px;
  height: 350px;
  cursor: pointer;
  margin: 10px;
  padding-top: 15px;
  background: #DAAD8625;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 300px;
  max-height: 300px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px 1px #607D8B;
}
