/* .ingredients-title {
  font-weight: 700;
  font-size: 25px;
  margin: 15px 30px;
  color: #808080;
}

.ingredients-list {
  margin: 0px 30px;
}

.ingredients-item {
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  margin-left: 0px;
  padding: .3em 0;
  height: 1.6em;
  width: 80%;
  border-radius: 4px;
}

.ingredient-name {
  margin-left: 15px;
  color: #607D8B;
  font-size: 20px;
}

.ingredients-input {
  height: 1.8em;
  width: 50%;
  margin: 15px 30px;
} */
