h2 {
  font-weight: 700;
  font-size: 20px;
  margin: 15px 30px;
  color: grey;
}

.ingredients-list {
  margin: 0px 30px;
}

li {
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  width: 80%;
  border-radius: 4px;
}

.badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

input {
  height: 1.8em;
  width: 50%;
  margin: 15px 30px;
}
